doctype 5
html
    head
        title Testing..
        link(rel='stylesheet', href='lib/ext-4.1.1a/resources/css/ext-all.css')
        script(type='text/javascript', src='lib/ext-4.1.1a/ext-all-debug.js')

        script(type='text/javascript')
            Ext.Loader.setPath('Ext', './lib/ext-4.1.1a/src');

            Ext.Loader.setConfig({
                enabled: true,
                disableCaching: true
            });

            // It will be emited dynamic
            Ext.define('UserModel', {
                extend: 'Ext.data.Model',
                fields: [
                    {
                        name: 'id'
                    },
                    {
                        name: 'name'
                    },
                    {
                        name: 'login'
                    }
                ]
            });

            Ext.define('UserStore', {
                extend: 'Ext.data.JsonStore',
                model: 'UserModel',
                data: [
                    {
                        id: 1,
                        name: 'Test',
                        login: 'test'
                    },
                    {
                        id: 2,
                        name: 'TestIt',
                        login: 'testit'
                    }
                ]
            });

            Ext.application({
                name: 'Dl',
                appFolder: 'app',
                autoCreateViewport: false,
                requires: [
                    'Ext.data.*',
                    'Ext.grid.*',
                    'Ext.container.*'
                ],
                controllers: [
                    'Users'
                ],
                launch: function() {
                    Ext.create('Dl.view.Viewport');
                }
            });




